<% var data = {
  title: "Производитель | Мастодинон",
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container page about-company">
  <h2 class="title-page">Компания Бионорика</h2>
  <picture>
    <source srcset="img/about-company-img-desct.jpg" media="(min-width: 960px)">
    <source srcset="img/about-company-img-tablet.jpg" media="(min-width: 321px)">
    <img src="img/about-company-img-mob.jpg" alt="photo company">
  </picture>
  <div class="content">
    <p>Компания «Бионорика» является одним из ведущих мировых производителей лекарственных средств растительного происхождения. Наша цель состоит в том, чтобы сделать медицину более природной. Для этого мы объединяем современные исследования в сфере фармакологии и целительную силу растений. Более 80 лет это позволяет нам производить эффективные препараты с хорошей переносимостью.</p>
    <h6>Инвестиции, исследования, развитие</h6>
    <p>Исследования — основа нашего успеха. Мы стремимся к совершенствованию наших продуктов и постоянно разрабатываем новые. Именно поэтому мы инвестируем значительную часть прибыли в научные исследования и разработки. Это позволяет нам с каждым днем все глубже проникать в тайны природы, лучше понимая целительную силу растений. Мы сосредоточены на таких сферах медицины как гинекология, урология, заболевания респираторного тракта и печени, ревматические заболевания, нарушения сна, а также современных взглядах на происхождение боли.</p>
    <p>Небольшая компания, основанная более 80 лет назад, в настоящее время превратилась в мощную группу предприятий, управление которыми осуществляется из головного офиса в Ноймаркт-ин-дер-Оберпфальце (Германия).</p>
    <p>Наши представительства и партнерские компании находятся практически на всех континентах, что позволяет нам по праву называть себя международной компанией.</p>
  </div>
  <div class="section-button">
    <a class="btn my-prim-btn" href="where-to-buy.html">Где купить</a>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>