<% var data = {
  title: "Полезная информация | Мастодинон",
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container page">
  <h2 class="title-page">Полезная информация</h2>
  <div class="row">
    <div class="col-12 col-md-3 order-md-12">
      <ul class="right-menu">
        <li class="active"><a href="#">Все статьи</a></li>
        <li><a href="#">ПМС</a></li>
        <li><a href="#">Боль в груди</a></li>
        <li><a href="#">Мастопатия</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-9 order-md-1">
      <div class="container-fluid">
        <a class="row row-article" href="article-full.html">
          <div class="col-12 col-md-4">
            <div class="wrap-img">
              <img src="img/article-img.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-8">
            <h6>Заголовок статьи</h6>
            <p class="date">12 ноября 2018</p>
            <p class="teaser">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque... penatibus et magnis dis parturient
            </p>
            <p class="more">
              Подробнее
            </p>
          </div>
        </a>
        <a class="row row-article" href="article-full.html">
          <div class="col-12 col-md-4">
            <div class="wrap-img">
              <img src="img/article-img.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-8">
            <h6>Заголовок статьи</h6>
            <p class="date">12 ноября 2018</p>
            <p class="teaser">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque... penatibus et magnis dis parturient
            </p>
            <p class="more">
              Подробнее
            </p>
          </div>
        </a>
        <a class="row row-article" href="article-full.html">
          <div class="col-12 col-md-4">
            <div class="wrap-img">
              <img src="img/article-img.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-8">
            <h6>Заголовок статьи</h6>
            <p class="date">12 ноября 2018</p>
            <p class="teaser">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque... penatibus et magnis dis parturient
            </p>
            <p class="more">
              Подробнее
            </p>
          </div>
        </a>
        <a class="row row-article" href="article-full.html">
          <div class="col-12 col-md-4">
            <div class="wrap-img">
              <img src="img/article-img.jpg" alt="">
              <div class="blackout"></div>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <h6>Заголовок статьи</h6>
            <p class="date">12 ноября 2018</p>
            <p class="teaser">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque... penatibus et magnis dis parturient
            </p>
            <p class="more">
              Подробнее
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
      <ul class="my-pagination">
        <li><a href="#" class="prev"></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" class="next"></a></li>
      </ul>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>